{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": "./src",
    "paths": {                                            
      "#config": ["./config/index.ts"],
      "#seedwork/*": ["./@seedwork/*"],
      "#category/*": ["./category/*"]
    }  
  }
}